
body {
font-family: sans-serif;
	font-size: small;
	line-height: 1.6em;
	background:url(img/444.jpg);
	margin: 0px;
}
#allcontent{
width: 1100px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: auto;
margin-right: auto;
background-color: white;
border-style: solid;
border-width: thin;
font-size:105%;
}
#header{
	background-color: #d9ecff;
	margin: 15px 0px 15px 15px;
	float: left;
	padding-left: 30px;
	padding-top: 10px;
	border-top: solid 1px;
	
}
#guarantee{
	border-width: 5px;
	border-style: dashed;
	border-color: #ffa000;
	background-color: #FFFFCC;
	padding: 35px;
	padding-left: 200px;
	margin: 30px;
	margin-top: 50px;
	margin-left: 70px;
	margin-right: 70px;
	line-height: 1.9em;
	font-style: italic;
	color: #444444;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-image: url(ing/23.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	
}
#footer{
	background-color: #d9ecff;
	font-size: 105;
	padding: 15px;
	margin: 0px 0px 10px 0px; 
	border-top: solid 1px;
	border-bottom: solid 1px;
	clear: left;
}
h1 {
	font-family: cursive;
	font-size:300%;
	font-weight: normal;
}
h2{
	text-align:  center;
	font-weight: normal;
	font-size: 150%;
	font-family: 'Marck Script', cursive;
}

q{
	font-style: italic;
}
#zagg
{
	margin:15px 0px 15px 0px;
	text-align: center;
	padding: 30px 30px 30px 30px;
	background-color: #d9ecff;
	border-top: solid 1px;
	border-bottom: solid 1px;
}
#main {
	position:relative;
	margin: 20px auto;
	padding: 5px;
	width: 660px;
	height:360px;
	background: linear-gradient(to top left, powderblue, pink);
	border: 2px solid black;
	border-radius:15px;
}
#scr {
	margin:20px auto;
	width: 600px;
	height: 320px;
	margin-top:20px;
	background-color: white;
	background-size:cover;
	border-radius:15px;
	border: 1px solid black;
}
button {
	position: absolute;
	top: 150px;
	width: 25px;
	height: 70px;
	font: 12pt arial,tahoma,sans-serif;
	text-align: center;
}
.left {
	left:5px;
}
.right {
	right:5px;
}
#music
{
margin-left:400px;
margin-right:400px;

}
